<launch>

    <!-- Params -->
    <arg name="vehicle" default="duckieboat"/>
    <!-- <arg name="format" default="pyaudio.paInt32"/> -->
    <arg name="channels" default="2"/>
    <arg name="rate" default="192000"/>
    <arg name="pyaudio_chunk" default="19200"/>
    <arg name="msg_length" default="1.0"/>
    <arg name="fft_chunk" default="1024"/>
    <arg name="overlap" default="0.9"/>
    <arg name="path" default="/root/arm64-nvidia/catkin_ws/src/recorder/wavefile/"/>
    <arg name="tdoa_window_length" default="1.0"/>
    <arg name="threshold" default="10.0"/>
    <arg name="mic_distance" default="0.3"/>
    <arg name="sound_speed" default="343"/>

    <!-- Switch -->
    <!-- True: off, False: on -->
    <arg name="local_monitor" default="false"/>

    <group ns="$(arg vehicle)">

        <!-- Focusrite -->
        <node pkg="recorder" type="audio.py" name="recorder_node" output="screen">
            <!-- <param name="format" type="str" value="$(arg format)"/> -->
            <param name="channels" type="int" value="$(arg channels)"/>
            <param name="rate" type="int" value="$(arg rate)"/>
            <param name="chunk" type="int" value="$(arg pyaudio_chunk)"/>
            <param name="msg_length" type="double" value="$(arg msg_length)"/>
        </node>


        <!-- tdoa -->
        <node pkg="signal_process" type="tdoa.py" name="tdoa_node" output="screen">
            <param name="tdoa_window_length" type="double" value="$(arg tdoa_window_length)"/>
            <param name="threshold" type="double" value="$(arg threshold)"/>
            <param name="rate" type="int" value="$(arg rate)"/>
            <param name="mic_distance" type="double" value="$(arg mic_distance)"/>
            <param name="sound_speed" type="double" value="$(arg sound_speed)"/>
        </node>

        <group unless="$(arg local_monitor)">

            <!-- tdoa signal monitor-->
            <node pkg="visualization" type="tdoa_signal_monitor.py" name="tdoa_signal_monitor_node" output="screen">
                <param name="tdoa_window_length" type="double" value="$(arg tdoa_window_length)"/>
                <param name="rate" type="int" value="$(arg rate)"/>
            </node>

            <!-- tdoa angle monitor-->
            <node pkg="visualization" type="tdoa_angle_monitor.py" name="tdoa_angle_monitor_node" output="screen">
            </node>

        </group>

    </group>

</launch>
