#!/bin/bash
path="/root/SSD"
date=`date "+%H-%M-%S-%m%d"`

mkdir $path/$date

xterm -e roscore &
ROSCORE_PID=$!
echo $ROSCORE_PID
sleep 5
xterm -e roslaunch signal_process duckieboat_tdoa.launch path:=$path/$date/ &
TDOA_PID=$!
echo $TDOA_PID
xterm -e roslaunch localization duckieboat_tank_localization.launch &
LOCALIZE_PID=$!
echo $LOCALIZE_PID

ps

# Wait until the script receives SIGINT / SIGTERM
while read input; 
do
  if [ "$input" = "q" ]; then
    break
  fi
done

echo "killing rosnode....."
kill $TDOA_PID $LOCALIZE_PID $ROSCORE_PID
rosnode cleanup



