<launch>
	<arg name="vehicle" default="duckieboat"/>
	<arg name="latitude" default="25.014855"/>
	<arg name="longitude" default="121.53578"/>
	<arg name="heading" default="180.0"/>

    <group ns="$(arg vehicle)">

        <node pkg="localization" type="To_moosrosbridge" name="To_moosrosbridge" respawn="false" output="screen" />
    
        <node pkg="moos-ros-bridge" type="Bridge" name="Bridge"
            args="$(find localization)/config/duckieboat_tank_tdoa_bridge_params.xml $(find localization)/config/duckieboat.moos" 
            respawn="false" output="screen" >
            <param name="vehicle" value="$(arg vehicle)"/>
        </node>

    </group>

    <!-- multi-master discovery-->
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery_node" output="screen">
        <param name="_mcast_group" value="224.0.0.1"/>
    </node>


</launch>
