<launch>
	<arg name="vehicle" default="duckieboat"/>
	<arg name="latitude" default="25.014855"/>
	<arg name="longitude" default="121.53578"/>

    <group ns="$(arg vehicle)">

        <node pkg="localization" type="localization_kalman.py" name="localization" respawn="false" output="screen">
            <param name="latitude" value="$(arg latitude)"/>
            <param name="longitude" value="$(arg longitude)"/>
        </node>
    
        <node pkg="localization" type="To_moosrosbridge" name="To_moosrosbridge" respawn="false" output="screen" />
    
        <node pkg="moos-ros-bridge" type="Bridge" name="Bridge"
            args="$(find localization)/config/duckieboat_bridge_params.xml $(find localization)/config/duckieboat.moos" 
            respawn="false" output="screen" >
            <param name="vehicle" value="$(arg vehicle)"/>
        </node>


    </group>

</launch>
