<launch>
	<arg name="latitude" default="25.014855"/>
	<arg name="longitude" default="121.53578"/>

    <node pkg="localization" type="Localization" name="localization" respawn="false" output="screen">
        <param name="latitude" value="$(arg latitude)"/>
        <param name="longitude" value="$(arg longitude)"/>
    </node>

    <node pkg="moos-ros-bridge" type="Bridge" name="Bridge"
        args="$(find localization)/config/wamv_gazebo_bridge_params.xml $(find localization)/config/test.moos" 
        respawn="false" output="screen" />

</launch>
