<launch>
	<arg name="vehicle" default="duckieboat"/>

        <!-- Taichung -->
	<!-- <arg name="latitude" default="24.173425"/> -->
	<!-- <arg name="longitude" default="120.692385"/> --> 

        <!-- Shimen -->
        <!-- <arg name="latitude" default="24.808352"/> -->
        <!-- <arg name="longitude" default="121.2496795"/> -->

        <!-- NTU -->
        <arg name="latitude" default="25.0170535"/> 
        <arg name="longitude" default="121.543044"/>

        <!-- Shimen small-->
        <!-- <arg name="latitude" default="24.8105485"/> -->
        <!-- <arg name="longitude" default="121.248473"/> -->

    <group ns="$(arg vehicle)">

        <node pkg="localization" type="localization_kalman.py" name="localization" respawn="false" output="screen">
            <param name="latitude" value="$(arg latitude)"/>
            <param name="longitude" value="$(arg longitude)"/>
        </node>
    
        <node pkg="localization" type="To_moosrosbridge" name="To_moosrosbridge" respawn="false" output="screen" />
    
        <node pkg="moos-ros-bridge" type="Bridge" name="Bridge"
            args="$(find localization)/config/duckieboat_bridge_params.xml $(find localization)/config/duckieboat.moos" 
            respawn="false" output="screen" >
            <param name="vehicle" value="$(arg vehicle)"/>
        </node>


    </group>

    <!-- multi-master discovery-->
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery_node" output="screen">
        <param name="_mcast_group" value="224.0.0.1"/>
    </node>

    <!-- multi-master sync-->
    <node pkg="master_sync_fkie" type="master_sync" name="master_sync_node" output="screen">
    </node>


</launch>
